@import url('https://fonts.googleapis.com/css?family=Gelasio|Slabo+27px|Titillium+Web&display=swap');

.class-text {
    padding: 10px;
}
.class-text h1 {
    font-family: 'Gelasio';
}
.class-text h2 {
    font-family: 'Titillium Web';
}
.class-input {
    margin:15px;
    padding: 5px;
}
.select-grade {
    margin: 15px;
}
.class-label {
    margin: 10px;
    font-family: 'Titillium Web';
}
.caption {
    font-family: "Gelasio";
    font-size: 150%;
    padding: 10px;
}
.add-button {
    margin: 20px;
    background-color: rgb(68, 92, 131);
    border: 2px solid black;
    color: white;
    padding: 5px 18px;
    text-align: center;
    font-size: 14px;
    font-family: 'Titillium Web';
    cursor: pointer;
}
.submit-button {
    margin: 10px;
    background-color: rgb(68, 92, 131);
    border: 2px solid black;
    color: white;
    padding: 5px 18px;
    text-align: center;
    font-size: 14px;
    font-family: 'Titillium Web';
    cursor: pointer;
}
#classtable {
    width: 430px;
    top: 60px;
    left: 650px;
    position: absolute;
    line-height: 15px;
    overflow-x: auto;
}
.class-container {
    padding: 10px;
    border-radius: 2px;
}
.transcript{
    border-radius: 10px;
    text-align:left;
    width: 100%;
    display: table;
    border-spacing: 10px;
    table-layout: auto;
}
.transcript th h3{
    font-size: 20px;
    text-align: left; 
    line-height: 0;
    font-family: 'Gelasio';
}
.transcript td {
    font-size: 18px;
    font-family: 'Titillium Web';
}
table { 
    width: 100%; 
    border-collapse: collapse; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 10px; 
    border: 1px solid #ccc; 
}